
# ignore suffix files
*.zip
*.log
*.bak
*.rar
*.drawio
.codex

# ignore directory
**/.venv/
**/__pycache__/
**/database/
**/.vscode/
test02/
docs/框架图/*
docs/*.md
**/.qwen/

# not ignore file

!docs/框架图/系统整体框架.drawio.pdf
!docs/整体设计.md