
# ignore suffix files
*.zip
*.log
*.bak
*.rar
*.drawio
.codex
**/CLAUDE.md
**/AGENTS.md

# ignore directory
**/.venv/
**/__pycache__/
**/database/
**/.vscode/
.ruff_cache/
test02/
docs/框架图/*
docs/*.md
**/.qwen/
**/.claude/
**/.opencode/
server-layer/docs/

# not ignore file

!docs/框架图/系统整体框架.drawio.pdf
!docs/框架图/系统整体框架.drawio
!docs/整体设计.md